@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

/* .column {
    float: left;
  }

.left {
    width: 50%;
}

.right {
    width: 50%;
} */

/* #map {
    height: 90%;
    width: 90%;
}
.column {
    float: left;
}
.left {
    width: 65%;
}
.right {
    width: 35%;
}
.bar {
    /* fill: rgb(79, 175, 211);*/
    /* fill: rgb(211, 121, 79); 
    opacity:0.7;
}
.bar:hover {   
    fill: #979696;
} */ 



/* .column {
    float: left;
    width: 50%;
  } */
  
  /* Clear floats after the columns */
/* .row:after {
    content: "";
    display: table;
    clear: both;
} */

/* SVG and div styling */
/* #content {
    margin: auto;
    width: 1550px;
}

#map {
    width: 800px;
    height: 500px;
}

#line-chart {
    width: 700px;
    height: 500px;
} */
.header {
    width: 600px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}
